
src/grafo_1000.txt

src/grafo_235.txt

src/grafo_5531.txt

src/grafo_658.txt

src/grafosGrupo20

src/saida.txt

src/grafo_125.txt

src/teste-maior.txt

src/teste.txt

*.o
*.o
*.o
src/grafosGrupo20.exe
*.exe
*.depend
*.exe
*.o
