
src/grafo_1000.txt

src/grafo_235.txt

src/grafo_5531.txt

src/grafo_658.txt

src/grafosGrupo20

src/saida.txt

src/grafo_125.txt

src/teste-maior.txt

src/teste.txt

*.o
*.o
*.o
src/grafosGrupo20.exe
*.exe
*.depend
*.exe
*.o

*.dat_500_1000_0

*.dat_300_300_0

*.dat_50_100_0

*.dat_50_500_0

src/bin/Debug/Cobertura-Minima-Vertices

src/Keller6.txt

src/c500.txt

src/Cobertura-Minima-Vertices.layout

src/Problem.dat_100_2000_0

src/Problem.dat_100_250_0

src/Problem.dat_300_1000_0

src/Problem.dat_50_50_0

src/Problem.dat_800_0_0

src/Problem.dat_800_5000_0
